# Gitignore for Derm-AI Project

# Ignore the organized and split dataset directories
# These are large files and should not be tracked in Git.
organized_dataset/
split_dataset/
unzipped_temp/

# Ignore the trained model file
derm_ai_model.pth

# Ignore Python-specific files and directories
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
venv/
env/

# Ignore IDE files (e.g., VS Code)
.vscode/

# Ignore Streamlit temporary files
.streamlit/